.add-form {
  &__header {
    text-align: center;
  }
  &__phone-container {
    position: relative;

    .PhoneInput {
      padding: 20px 0 20px 0;
    }

    .PhoneInputInput {
      padding: 20px 10px 20px 50px;
      appearance: none;
      border: none;
      outline: none;
      background-color: transparent;
    }

    .PhoneInputCountry {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }
}
