// .edit-modal {
//   &__phone {
//     position: relative;

//     .PhoneInputCountry {
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//       left: 10px;
//     }

//     .PhoneInputInput {
//       padding: 20px 10px 20px 50px;
//       max-height: 56px;
//       background-color: rgba(0, 0, 0, 0.06);
//       border-color: transparent;
//       outline: none;
//       appearance: none;
//     }
//   }
// }

.edit-form {
  &__header {
    text-align: center;
  }
  &__phone-container {
    position: relative;

    .PhoneInput {
      padding: 20px 0 20px 0;
    }

    .PhoneInputInput {
      padding: 20px 10px 20px 50px;
      appearance: none;
      border: none;
      outline: none;
      background-color: transparent;
    }

    .PhoneInputCountry {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
  }
}

// .phone-ontainer {
//   padding: 0;

//   input {
//     padding: 20px 10px 20px 50px;
//   }

//   PhoneInputInput {
//     padding: 20px 10px 20px 50px;
//   }
// }
