.contact {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 0px 0px 3px 3px rgba(12, 78, 129, 0.19);

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 70px 1fr;
    column-gap: 10px;
    row-gap: 5px;
    grid-template-areas:
      'avatar name'
      'avatar phone'
      'avatar email';
  }

  &__avatar {
    grid-area: avatar;
    width: 70px;
    height: 70px;
  }

  &__name {
    grid-area: name;
    font-size: 1.3rem;
    color: #004f9f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
  }

  &__box {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  &__phoneBox {
    grid-area: phone;
  }

  &__phoneIcon {
    font-size: 1.3rem;
    color: rgb(3, 130, 128);
  }

  &__phone {
    input {
      cursor: pointer;
      padding: 2px;
    }
  }

  &__emailBox {
    grid-area: email;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__emailIcon {
    color: rgb(3, 130, 128);
    font-size: 1.3rem;
  }

  &__nameTooltip {
    font-size: 1rem;
  }

  &__email {
    max-width: fit-content;
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
  }

  &__emailText {
    white-space: inherit;
    overflow: inherit;
    text-overflow: inherit;
    max-width: inherit;
  }
}

.icons {
  display: flex;
  width: 100%;
  margin-top: 10px;

  &__delete {
    color: red;
  }
}

.button {
  width: 100%;
}
